node_modules/
build/
.env
.DS_Store
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.pytest_cache/
.githooks/


artifacts/
cache/
doc/
test/
DS_Store
yarn.lock

contracts/test
contracts/wrapped-tokens/staking/
contracts/wrapped-tokens/RateLimit.sol
@types/generated/
